#!/usr/bin/env bats
# Expected output test with Bats
#
# These test cases compares outputs of various modes of ddlog against a .ddl example file with its expected output.
# Tests are skipped if no expected output is found.
#
# This .bats.template file should be run by creating a .bats symlink to it
# next to a directory with the same name (without .bats) that contains
# input.ddl.

# required variables
: ${TEST_CLASS_OR_JAR:?class name or -jar with the path to the ddlog.jar to test}

# some shorthands
TESTDIR=${BATS_TEST_FILENAME%.bats}
TESTDIR=${TESTDIR#$PWD/}
TEST=${BATS_TEST_FILENAME#$PWD/}
it="${TEST%.bats}:"

# how to invoke ddlog compiler
ddlog() {
    java $TEST_CLASS_OR_JAR "$@"
}
# how to diff (prefer wdiff)
if type wdiff &>/dev/null; then
    if ${TRAVIS:-false}; then
        diff() { wdiff            --statistics -- "$@"; }
    else
        diff() { wdiff --terminal --statistics -- "$@"; }
    fi
else
    diff() { command diff --unified --ignore-all-space -- "$@"; }
fi

# some preconditions
setup() {
    [ -e "$TESTDIR" ]
}

## tests for basic compilation and pretty-printing

# check if example can be parsed
@test "$it parses input" {
    ddlog print "$TESTDIR"/input.ddl >/dev/null
}

# check if print is idempotent
@test "$it parses and prints what it prints (idempotent)" {
    printed=$TESTDIR/printed.actual
    ddlog print "$TESTDIR"/input.ddl >"$printed" || skip
    ddlog print "$printed" >"$TESTDIR"/printed-printed.actual
    diff "$printed" "$TESTDIR"/printed-printed.actual
}


# compare the compiled output with what's expected
@test "$it compiles input as expected" {
    expectedOutput=$TESTDIR/compile.expected
    actualOutput=${expectedOutput%.expected}.actual
    [ -e "$expectedOutput" ] || skip
    ddlog compile "$TESTDIR"/input.ddl >"$actualOutput"
    diff "$expectedOutput" "$actualOutput"
}

# compare the pretty-printed output with what's expected
@test "$it prints input as expected" {
    expectedOutput=$TESTDIR/print.expected
    actualOutput=${expectedOutput%.expected}.actual
    [ -e "$expectedOutput" ] || skip
    ddlog print "$TESTDIR"/input.ddl >"$actualOutput"
    diff "$expectedOutput" "$actualOutput"
}


## tests for --incremental support

# compare the compiled output of the incremental version with what's expected
@test "$it compiles --incremental input as expected" {
    expectedOutput=$TESTDIR/compile-incremental.expected
    actualOutput=${expectedOutput%.expected}.actual
    [ -e "$expectedOutput" ] || skip
    ddlog compile --incremental "$TESTDIR"/input.ddl >"$actualOutput"
    diff "$expectedOutput" "$actualOutput"
}

# compare the pretty-printed output of the incremental version with what's expected
@test "$it prints --incremental input as expected" {
    expectedOutput=$TESTDIR/print-incremental.expected
    actualOutput=${expectedOutput%.expected}.actual
    [ -e "$expectedOutput" ] || skip
    ddlog print --incremental "$TESTDIR"/input.ddl >"$actualOutput"
    diff "$expectedOutput" "$actualOutput"
}
