# build byproducts
/.build
/.travis
/.travis.tar
/.github-release-assets
/deepdive-*.tar.gz
/inference/format_converter

# misc.
.DS_Store
*~
\#*#
*.sublime-project
*.sublime-workspace
.cache
.ipynb_checkpoints/

/doc/_*local*

/examples/**/*.pyc
/examples/tutorial_example/*/experiment-reports/latest
/examples/spouse_example/data/sentences_dump_large.csv
/examples/spouse_example/data/spouses.tsv

# python-related
*.pyc
__pycache__/
