*.DS_Store
*.class
*.tar
target/
log/
out/
out_*
*.out
*.sublime-project
*.sublime-workspace
out/
hsql:*
*.pyc
/lib/dw_mac
/lib/dw_linux

app/cnn_img/ILSVRC2012_img_train/
app/cnn_img/backup/
app/cnn_img/data/
app/cnn_img/data10/
app/cnn_img/data2/
app/cnn_img/data3/
app/cnn_img/data4/
app/cnn_img/sampler_cmd
app/cnn_img/size.py
app/cnn_img/temp.scala
app/cnn_img/temp_value
app/cnn_img/test.cpp
app/old_test/
outs/
para/
util/out
util/temp_out/

