[submodule "util/mindbender"]
	path = util/mindbender
	url = https://github.com/netj/mindbender.git
[submodule "test/bats"]
	path = test/bats
	url = https://github.com/sstephenson/bats.git
[submodule "inference/dimmwitted/test/bats"]
        path = inference/dimmwitted/test/bats
	url = https://github.com/sstephenson/bats.git
[submodule "compiler/ddlog/test/bats"]
	path = compiler/ddlog/test/bats
	url = https://github.com/sstephenson/bats.git
[submodule "extern/buildkit"]
	path = extern/buildkit
	url = https://github.com/netj/buildkit.git
[submodule "runner/mkmimo"]
	path = runner/mkmimo
	url = https://github.com/netj/mkmimo.git
[submodule "DockerBuild"]
	path = DockerBuild
	url = https://github.com/netj/DockerBuild.git
