# quick install URL
RedirectTemp  /install  https://github.com/HazyResearch/deepdive/raw/master/util/install.sh

# allow URLs without .html extensions
Options +MultiViews
# and redirect /index to /
RedirectTemp  /index  /

# merged sponsors page to index
RedirectTemp  /support  /#acknowledgment

# redirect legacy URLs to new place
RedirectMatch temp  (.*)/doc/(?:basics/walkthrough|basics|advanced|general)/(.*?)(?:\.html)?$  $1/$2
RedirectMatch temp  (.*)/doc/(.*?)(?:\.html)?$                                                 $1/$2
