body {
  color: #373723;
  font-family: 'Lato', 'Lucida Grande', 'Calibri', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
}

#header { 
  color: #ccc;
  background-color: #333; 
  height: 40px; 
  padding: 10px 0px;
}

#footer { 
  color: #ccc;
  background-color: #333; 
  height: 40px; 
  padding: 10px 0px;
}

#footer p { font-size: small; color: #fff;}

#main {
  padding-top: 20px;
  /*background-color: #f2f2f2;*/
  padding-bottom: 100px;
  min-height: 600px;
}


ul li {
  margin-bottom: 5px;
}

ul li:last-child {
   margin-bottom: 0px;
} 

h1, h2, h3, h4, h5, h6 { 
  color: #222222; 
  font-weight: 300;
  /*letter-spacing: -1px;*/
}

h3 { margin-top: 1.5em;}

pre {
  padding: 15 20px;
  background: #ffffff;
  border: none;
  overflow-x: auto;
  font-size: 0.8em;
}

code {
  background: #ffffff;
}

p img {
  width: 100%;
}