body {
  color: #373723;
  font-family: 'Lato', 'Lucida Grande', 'Calibri', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  background-color: #FAFAFA;
}

body ul, body ol {
  margin-top: 5px;
  color: #373723; 
}

#header { 
  color: #fff;
  background-color: #08608A; 
  height: 80px; 
  padding: 10px 0px;
}

#header a { color: #fff; }

#header #header-nav { margin-top: 20px;}
#header #header-nav li {margin-right: 10px; }

#footer { 
  color: #ccc;
  background-color: #08608A; 
  height: 60px; 
  padding: 20px 0px;
}

#footer p { font-size: small; color: #fff;}

#main {
  padding-top: 20px;
  /*background-color: #f2f2f2;*/
  padding-bottom: 100px;
  min-height: 800px;
}


ul li {
  margin-bottom: 5px;
}

ul li:last-child {
   margin-bottom: 0px;
} 

#main h1 {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px dotted #ccc;
}

h1, h2, h3, h4, h5, h6 { 
  color: #222222; 
  font-weight: 300;
  /*letter-spacing: -1px;*/
}

#main h2 { 
  margin-top: 1.5em; 
  margin-bottom: 1em; 
  font-weight: 500;
  color: #333;
  padding: 10px 0px;
  background-color: #538EAA;
  padding: 10px 15px;
  color: white;
  border-radius: 0.2em;

}

#main h3 { 
  margin-top: 1.5em; 
  margin-bottom: 1em; 
  font-weight: 300;
  /*color: #08608A;*/
  padding: 10px 0px;
  /*border-bottom: 3px dotted #08608A; */
  background-color: #5FA3C4;
  padding: 10px 15px;
  color: white;
  border-radius: 0.2em;

}

#main h4 { 
  /*margin-top: 1.5em; 
  margin-bottom: 1em; 
  font-weight: 300;
  color: #08608A;
  padding: 10px 0px;
  border-bottom: 2px dotted #08608A; 
  background-color: #5FA3C4;
  padding: 10px 15px;
  color: white;
  border-radius: 0.2em;*/

  margin-top: 1.5em; 
  font-weight: 300; 
  margin-bottom: 1em; 
  font-weight: 500;
  color: #08608A;
  padding: 10px 0px;
  /*background-color: #8BB6CE;*/
  /*padding: 10px 15px;*/
  border-bottom: 1px dotted #08608A; 
  /*color: white;*/
  border-radius: 0.2em;


}

#main p, #main ul { color: #555; }

pre {
  padding: 15 20px;
  background: #f3f3f3;
  border: none;
  overflow-x: auto;
  font-size: 0.8em;
}

code {
  background: #f3f3f3;
}

p img {
  width: 100%;
  /*padding: 20px 10px;*/
  padding: 5px 5px;
  margin: 10px 0px;
  border: 1px solid #eee;
}