#!/usr/bin/env bats
# A .bats template for test cases that DeepDive compiler should reject
load test_environ

# check if the template is being run directly
case $BATS_TEST_FILENAME in *.template)
    echo >&2 "$BATS_TEST_FILENAME cannot be run directly.  Use the symlinked .bats files instead."
    false
esac

# find the test case name
testName=$(basename "$BATS_TEST_FILENAME" .bats)
testName=${testName#.} # optional dot prefix for hiding the .bats file

@test "compiler $testName" {
    cd "$BATS_TEST_DIRNAME/$testName"
    if ! deepdive compile; then
        echo "# deepdive-compile rejected the app with error"
        # TODO check specific error message as well
    else
        echo "# deepdive-compile did not return error"; false
    fi
}
