<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Deepdive" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/application.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepdive</title>
  </head>

  <body>
      
      <div id="header">
        <div class="container">
          <row>
            <div class="col-md-10 col-md-offset-1">
              <a href="/" class="deepdive-logo">DeepDive Logo comes here</a> 
            </div>
          </row>
        </div>
      </div>

      <section id="main">
        <div class="container">
          <row>
            <div class="col-md-10 col-md-offset-1">
              {{ content }}
            </div>
          </row>
        </div>
      </section>
    
      <footer id="footer">
        <div class="container">
          <row>
            <div class="col-md-10 col-md-offset-1">
              <!-- <p class="copyright">Deepdive maintained by <a href="https://github.com/dennybritz">dennybritz</a></p> -->
            </div>
          </row>
        </div>
      </footer>

    
  
  </body>
</html>